RewriteEngine On


RewriteRule ^Apprehended-Conveyances?$ tbl_1.php
RewriteRule ^Apprehended-Finished-Products?$ tbl_2.php
RewriteRule ^Apprehended-Forest-Products?$ tbl_3.php
RewriteRule ^Apprehended-Implements-Equipment?$ tbl_4.php
RewriteRule ^Apprehended-Rattan-Poles?$ tbl_5.php
RewriteRule ^Apprehended-Wood-Charcoal?$ tbl_6.php
RewriteRule ^Area-developed?$ tbl_7.php
RewriteRule ^Baseline-CSC?$ tbl_8.php
RewriteRule ^Cadastral-Survey?$ tbl_9.php
RewriteRule ^CSC-outside-CBFMA?$ tbl_10.php
RewriteRule ^CSC-within-CBFMA?$ tbl_11.php
RewriteRule ^CSC-issued?$ tbl_12.php
RewriteRule ^Classified-Coastal-WBL?$ tbl_13.php
RewriteRule ^Classified-Major-Rivers?$ tbl_14.php
RewriteRule ^Classified-Major-Rivers?$ tbl_14.php
RewriteRule ^Classified-Minor-Rivers?$ tbl_15.php
RewriteRule ^Classified-Principle-Rivers?$ tbl_16.php
RewriteRule ^CBEP-extension-officer?$ tbl_17.php
RewriteRule ^CBEP-job-generated?$ tbl_18.php
RewriteRule ^CBEP-persons-employed?$ tbl_19.php
RewriteRule ^Confiscated-Conveyances?$ tbl_20.php
RewriteRule ^Confiscated-Forest-Products?$ tbl_21.php
RewriteRule ^Confiscated-Implements-Equipment?$ tbl_22.php
RewriteRule ^Confiscated-Rattan-Poles?$ tbl_23.php
RewriteRule ^Critical-Watersheds?$ tbl_24.php
RewriteRule ^Existing_CFBMA?$ tbl_25.php
RewriteRule ^Existing_FLGLA?$ tbl_26.php
RewriteRule ^Existing_FLGMA?$ tbl_27.php
RewriteRule ^Existing-Industrial-FMA?$ tbl_28.php
RewriteRule ^Existing-PACBRMA?$ tbl_29.php
RewriteRule ^Existing-SIFMA?$ tbl_30.php
RewriteRule ^Existing-SLUP?$ tbl_31.php
RewriteRule ^Existing-TFLA?$ tbl_32.php
RewriteRule ^Fireline-Maintained?$ tbl_33.php
RewriteRule ^Forest-Cover?$ tbl_34.php
RewriteRule ^Forest-land-UPFA?$ tbl_35.php
RewriteRule ^Forest-Protection-Officers-Peo?$ tbl_36.php
RewriteRule ^INREMP-Natural-Resource-Management?$ tbl_37.php
RewriteRule ^Integrated-Watershed-MPP?$ tbl_38.php
RewriteRule ^Inventory-of-CWR-Monitored?$ tbl_39.php
RewriteRule ^Key-Biodiversity-Areas?$ tbl_40.php
RewriteRule ^Land-Classification-and-Distribution?$ tbl_41.php
RewriteRule ^Land-Disposition-Issued?$ tbl_42.php
RewriteRule ^List-of-Checkpoint?$ tbl_44.php
RewriteRule ^Major-River-Basins?$ tbl_45.php
RewriteRule ^Management-of-Foreshore?$ tbl_46.php
RewriteRule ^NGP-Area-Planted?$ tbl_47.php
RewriteRule ^Number-of-Polygons?$ tbl_48.php
RewriteRule ^Seedling-Planted?$ tbl_49.php
RewriteRule ^Seedling-Production?$ tbl_50.php
RewriteRule ^Seedling-Planted-by-Commodity?$ tbl_51.php
RewriteRule ^Survival-rate-Percentage?$ tbl_52.php
RewriteRule ^Validated-Project-Sites?$ tbl_53.php
RewriteRule ^NIPAS-and-Locally-Managed-Marine-Protected-Areas?$ tbl_54.php
RewriteRule ^Number-of-Forest-Rangers?$ tbl_55.php
RewriteRule ^Number-of-Incidents-on-Apprehended?$ tbl_56.php
RewriteRule ^Number-of-Waterbodies?$ tbl_57.php
RewriteRule ^Proclaimed-Protected-Areas-under-E-NIPAS?$ tbl_58.php
RewriteRule ^Proclaimed-Protected-Areas-under-NIPAS?$ tbl_59.php
RewriteRule ^Status-of-Community-Resource-Management-Framework?$ tbl_60.php
RewriteRule ^Summary-of-CWR-Monitored?$ tbl_61.php
RewriteRule ^Summary-of-Forest-Land-Use-Plan-Formulation-and-Adoption?$ tbl_62.php
RewriteRule ^Summary-of-Watershed-Characterization-VA-an-IWMP?$ tbl_63.php
RewriteRule ^Tenurial-Instruments?$ tbl_64.php
RewriteRule ^Watershed-Characterization-Profiling?$ tbl_65.php
RewriteRule ^Watershed-Forest-Reserve-Proclaimed-Watershed?$ tbl_67.php
RewriteRule ^Watershed-Supporting-River-Irrigation-System-of-NIA?$ tbl_68.php
RewriteRule ^Watershed-Vulnerability-Assessment?$ tbl_69.php








RewriteRule ^Apprehended-Conveyances-edit?$ tbl_1-edit.php
RewriteRule ^Apprehended-Finished-Products-edit?$ tbl_2-edit.php
RewriteRule ^Apprehended-Forest-Products-edit?$ tbl_3-edit.php
RewriteRule ^Apprehended-Implements-Equipment-edit?$ tbl_4-edit.php
RewriteRule ^Apprehended-Rattan-Poles-edit?$ tbl_5-edit.php
RewriteRule ^Apprehended-Wood-Charcoal-edit?$ tbl_6-edit.php
RewriteRule ^Area-developed-edit?$ tbl_7-edit.php
RewriteRule ^Baseline-CSC-edit?$ tbl_8-edit.php
RewriteRule ^Cadastral-Survey-edit?$ tbl_9-edit.php
RewriteRule ^CSC-outside-CBFMA-edit?$ tbl_10-edit.php
RewriteRule ^CSC-within-CBFMA-edit?$ tbl_11-edit.php
RewriteRule ^CSC-issued-edit?$ tbl_12-edit.php
RewriteRule ^Classified-Coastal-WBL-edit?$ tbl_13-edit.php
RewriteRule ^Classified-Major-Rivers-edit?$ tbl_14-edit.php
RewriteRule ^Classified-Minor-Rivers-edit?$ tbl_15-edit.php
RewriteRule ^Classified-Principle-Rivers-edit?$ tbl_16-edit.php
RewriteRule ^CBEP-extension-officer-edit?$ tbl_17-edit.php
RewriteRule ^CBEP-job-generated-edit?$ tbl_18-edit.php
RewriteRule ^CBEP-persons-employed-edit?$ tbl_19-edit.php
RewriteRule ^Confiscated-Conveyances-edit?$ tbl_20-edit.php
RewriteRule ^Confiscated-Forest-Products-edit?$ tbl_21-edit.php
RewriteRule ^Confiscated-Implements-Equipment-edit?$ tbl_22-edit.php
RewriteRule ^Confiscated-Rattan-Poles-edit?$ tbl_23-edit.php
RewriteRule ^Critical-Watersheds-edit?$ tbl_24-edit.php
RewriteRule ^Existing_CFBMA-edit?$ tbl_25-edit.php
RewriteRule ^Existing_FLGLA-edit?$ tbl_26-edit.php
RewriteRule ^Existing_FLGMA-edit?$ tbl_27-edit.php
RewriteRule ^Existing-Industrial-FMA-edit?$ tbl_28-edit.php
RewriteRule ^Existing-PACBRMA-edit?$ tbl_29-edit.php
RewriteRule ^Existing-SIFMA-edit?$ tbl_30-edit.php
RewriteRule ^Existing-SLUP-edit?$ tbl_31-edit.php
RewriteRule ^Existing-TFLA-edit?$ tbl_32-edit.php
RewriteRule ^Fireline-Maintained-edit?$ tbl_33-edit.php
RewriteRule ^Forest-Cover-edit?$ tbl_34-edit.php
RewriteRule ^Forest-land-UPFA-edit?$ tbl_35-edit.php
RewriteRule ^Forest-Protection-Officers-Peo-edit?$ tbl_36-edit.php
RewriteRule ^INREMP-Natural-Resource-Management-edit?$ tbl_37-edit.php
RewriteRule ^Integrated-Watershed-MPP-edit?$ tbl_38-edit.php
RewriteRule ^Inventory-of-CWR-Monitored-edit?$ tbl_39-edit.php
RewriteRule ^Key-Biodiversity-Areas-edit?$ tbl_40-edit.php
RewriteRule ^Land-Classification-and-Distribution-edit?$ tbl_41-edit.php
RewriteRule ^Land-Disposition-Issued-edit?$ tbl_42-edit.php
RewriteRule ^List-of-Checkpoint-edit?$ tbl_44-edit.php
RewriteRule ^Major-River-Basins-edit?$ tbl_45-edit.php
RewriteRule ^Management-of-Foreshore-edit?$ tbl_46-edit.php
RewriteRule ^NGP-Area-Planted-edit?$ tbl_47-edit.php
RewriteRule ^Number-of-Polygons-edit?$ tbl_48-edit.php
RewriteRule ^Seedling-Planted-edit?$ tbl_49-edit.php
RewriteRule ^Seedling-Production-edit?$ tbl_50-edit.php
RewriteRule ^Seedling-Planted-by-Commodity-edit?$ tbl_51-edit.php
RewriteRule ^Survival-rate-Percentage-edit?$ tbl_52-edit.php
RewriteRule ^Validated-Project-Sites-edit?$ tbl_53-edit.php
RewriteRule ^NIPAS-and-Locally-Managed-Marine-Protected-Areas-edit?$ tbl_54-edit.php
RewriteRule ^Number-of-Forest-Rangers-edit?$ tbl_55-edit.php
RewriteRule ^Number-of-Incidents-on-Apprehended-edit?$ tbl_56-edit.php
RewriteRule ^Number-of-Waterbodies-edit?$ tbl_57-edit.php
RewriteRule ^Proclaimed-Protected-Areas-under-E-NIPAS-edit?$ tbl_58-edit.php
RewriteRule ^Proclaimed-Protected-Areas-under-NIPAS-edit?$ tbl_59-edit.php
RewriteRule ^Status-of-Community-Resource-Management-Framework-edit?$ tbl_60-edit.php
RewriteRule ^Summary-of-CWR-Monitored-edit?$ tbl_61-edit.php
RewriteRule ^Summary-of-Forest-Land-Use-Plan-Formulation-and-Adoption-edit?$ tbl_62-edit.php
RewriteRule ^Summary-of-Watershed-Characterization-VA-an-IWMP-edit?$ tbl_63-edit.php
RewriteRule ^Tenurial-Instruments-edit?$ tbl_64-edit.php
RewriteRule ^Watershed-Characterization-Profiling-edit?$ tbl_65-edit.php
RewriteRule ^Watershed-Forest-Reserve-Proclaimed-Watershed-edit?$ tbl_67-edit.php
RewriteRule ^Watershed-Supporting-River-Irrigation-System-of-NIA-edit?$ tbl_68-edit.php
RewriteRule ^Watershed-Vulnerability-Assessment-edit?$ tbl_69-edit.php
#ErrorDocument 404 http://localhost/www/phLogin.php 